/******** General *************/

html, body {
	background: #fff;
	margin: 0;
	padding: 0;
	height: 100%;
	color: #384452;
	font-family: sans-serif;
	font-weight: 400;
	padding-top: 50px;
}

h1 {
	margin-top: 150px;
	font-size: 50px;
	font-weight: 700;
}

h2, h3, h4, H5, H6 {
	font-family: 'Raleway', sans-serif;
	font-weight: 700;
}


span {
  font-family: 'Raleway', sans-serif;
  clear: both;
}

img {
	max-width: 100%;
}

contener {
	border: 1px solid black;
}

a:hover, a:focus {
	text-decoration: underline;
	color: rgba(195, 197, 198, 0.87);
}

::moz-selection {
	color: #fff;
	text-shadow: none;
	background: #2B2E31;
}

::selection {
	color: #fff;
	text-shadow: none;
	background: #2B2E31;
}

.centered {
	text-align: center;
}


.showBorder {
	border: 1px solid;
}

.btn {
	margin: 5px;
	margin-right: 20px;
}

/************ Style navigation bar ************/
.navbar {
	min-height: 30px;
	padding-top: 0px;
	margin-bottom: 500px;
	display: inline;
}

.navbar-brand {
	font-family: 'Raleway', sans-serif;
	font-weight: 900;
}

.navbar-header .navbar-brand {
	color: white;
}

.navbar-default .navbar-nav>li>a {
	color: white;
	font-weight: 700;
	font-size: 16px;
}

.navbar-default .navbar-nav>li>a:hover {
	color: rgba(172, 186, 191, 0.82);
}

.navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>.active>a:hover,
.navbar-default .navbar-nav>.active>a:focus d{
	color: rgba(172, 186, 191, 0.82);
	background: transparent;
}

.navbar-default {
	background-color: #003a9e;
	border-color: transparent;
}

/************ Style Home ************/
#home {
	margin: 0;
	padding: 0;
	text-align: center;
	min-height: 100%;
	}

#home h1 {
	margin-top: 150px;
	color: white;
	font-size: 50px;
	font-weight: 700;
}

#home h3 {
	color: white;
	font-size: 30px;
	font-weight: 100;
	font-family: 'Raleway', sans-serif;
	font-style: oblique;
}

/****** Activity creation page *****/

input {
  padding: 10px;
  width: 100%;
  font-size: 17px;
  font-family: Raleway;
  border: 1px solid #aaaaaa;
}

input:focus {
	border:1px solid #044484;
}

input.invalid {
  background-color: #ffdddd;
}

input[type="date"] {

	display: none;	
}

textarea.invalid {
  background-color: #ffdddd;
}

.input-lg {
	height: 150px;
}

.tab {
  dispay: flex;
  flex-wrap: wrap;
  display: none;
  padding-top: 1%;
  padding-bottom: 5%;
}

.step {
  flex: 1;
  height: 20px;
  width: 20px;
  margin: 0 2px;
  background-color: #bbbbbb;
  border: none; 
  border-radius: 50%;
/*   display: inline-block; */
  opacity: 0.5;
}

.step.active {
  opacity: 1;
}

.step.finish {
  background-color: #4CAF50;
}

.formContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  min-height: 80%;
  padding-left: 10%;
  border: 1px solid red;
}

.inputStyle {
	margin-bottom: 5%;
	text-align: justify;
	margin-left: 0px;
    padding-left: 0px;
}

.inputTitle {
	font-size: 50px;
}

.inputIndication {
	font-size:18px;
}

.btnStep {
	overflow: auto;
}

/***** Google map ***********/

 #googleMap {
   flex: 2;
   width: 500px;
   min-height: 500px;
   background-color: grey;
    border: 1px solid green;
 }