/******** General *************/

html, body {
	background-color: #f1f1f1;
	margin: 0;
	padding: 0;
	height: 100%;
	color: #384452;
	font-family: sans-serif;
	font-weight: 400;
	padding-top: 50px;
}


span {
  font-family: 'Raleway', sans-serif;
  clear: both;
}

span.title {
	font-size: 50px;
	text-align: left;
	display: inline-block;
}

span.indication {
	padding-top: 25px;
	padding-bottom: 25px;
	font-size: 25px;
	line-height: 45px;
	text-align: left;
	display: inline-block;
}

img {
	max-width: 100%;
}

contener {
	border: 1px solid black;
}

p {
	margin-top: 20px;
	margin-bottom: 20px;
}

a:hover, a:focus {
	text-decoration: underline;
	color: rgba(195, 197, 198, 0.87);
}

::moz-selection {
	color: #fff;
	text-shadow: none;
	background: #2B2E31;
}

::selection {
	color: #fff;
	text-shadow: none;
	background: #2B2E31;
}

.centered {
	text-align: center;
}


.btn {
	margin: 5px;
	margin-right: 20px;
}

/************ Style navigation bar ************/
.navbar {
	min-height: 30px;
	padding-top: 0px;
	margin-bottom: 500px;
	display: inline;
}

.navbar-brand {
	font-family: 'Raleway', sans-serif;
	font-weight: 900;
}

.navbar-header .navbar-brand {
	color: white;
}

.navbar-default .navbar-nav>li>a {
	color: white;
	font-weight: 700;
	font-size: 16px;
}

.navbar-default .navbar-nav>li>a:hover {
	color: rgba(172, 186, 191, 0.82);
}

.navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>.active>a:hover,
.navbar-default .navbar-nav>.active>a:focus d{
	color: rgba(172, 186, 191, 0.82);
	background: transparent;
}

.navbar-default {
	background-color: #003a9e;
	border-color: transparent;
}

/************ Style form progression bar + TODO ************/
.nav-item {
	cursor: pointer;
	border-top: solid 0.1px grey;
	width: 300px;
	height: 100px;
	opacity: 0.8;
	text-align: center;
}

.nav-item.selected {
	opacity: 0.8;
 	background-color: #B0E0E6;
}

.glyphicon-ok {
	font-size: 35px;
	color: green;
	display: none;
}

#modifyBtn{
	display: none;
}

.formContainer {

}

/************ Style Home ************/
#home {
	margin: 0;
	padding: 0;
	text-align: center;
	min-height: 100%;
	}

#home h1 {
	margin-top: 150px;
	color: white;
	font-size: 50px;
	font-weight: 700;
}

#home h3 {
	color: white;
	font-size: 30px;
	font-weight: 100;
	font-family: 'Raleway', sans-serif;
	font-style: oblique;
}

/****** Activity creation page *****/

input {
  padding: 10px;
  width: 100%;
  font-size: 17px;
  font-family: Raleway;
  border: 1px solid #aaaaaa;
}

input:focus {
	border:1px solid #044484;
}

input.invalid {
  background-color: #ffdddd;
}

input[type="date"] {

	display: none;	
}

textarea.invalid {
  background-color: #ffdddd;
}

.input-lg {
	height: 150px;
}

.tab {
  dispay: flex;
  flex-wrap: wrap;
  display: none;
  padding: 10% 5% 5% 10%;
  border: solid 0.2px black;
}

.form-input {
	min-width: 500px;
	max-width: 600px;
	margin-top: 10px;
	margin-bottom: 10px;
}

.inputStyle {
	margin-bottom: 5%;
	text-align: justify;
	margin-left: 0px;
    padding-left: 0px;
}

.small-title {
	font-size:18px;
}

.btnStep {
	overflow: auto;
}

#category {
	heigth: 50;
}

#description {
	min-height : 200px;
	min-width: 	500px;
}

.pax-item {
/* 	min-height : 400px; */
}

.display-pax-bloc {
	border: solid 1px black;
	display: flex;
	flex-direction: column;
	max-width: 400px;
}

.display-schedules-bloc {
	border: solid 1px black;
	display: flex;
	flex-direction: column;
	max-width: 400px;
}

.pax-infos {
	font-family: tahoma, geneva, sans-serif;
}

#addExtraSessionBtn:hover, #addExtraSessionBtn:focus,
	#addExtraSessionBtn:active {
	border: 1px solid #0033cc;
	text-decoration: none;
}

.createScheduleBloc {
	margin-top: 20px;
	border: solid 1px blue;
	width: 90%;
	display: flex;
	flex-direction: column;
}

/***** Google map ***********/

 #googleMap {
   flex: 2;
   min-height: 500px;
   background-color: grey;
   border: 1px solid green;
 }
 
/******* Home page *********/
body.homePage {
  background-image:url(/img/bg-act.jpg);
  background-size: cover;
}

 .bloc-login {
  display: flex;
  height: 200px;
  align-items: center;
  margin-left: 200px;
 }
 
 .bloc-login > div {
  width: 600px;
  height: 600px;
  margin: 50px;
  margin-top: 600px;
  padding: 60px 40px 60px;
}

.bloc-presentation {
	font-family: arial, "sans-serif";
	color: white;
	font-size : 25px;
}

.form-transparent {
	border-radius: 1px;
  	background: rgba(0, 0, 0, 0.16);
  	box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}

.row {
}

.row-form {
/* 	border: 0.5px solid black; */
	font-size: 25px;
	padding-top: 10px;
	padding-bottom: 10px;
	margin-top: 20px;
	margin-bottom: 20px;
}