<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head th:include="fragments/header :: header">

<title>Page Account</title>
</head>
<body>

	<div class="flex-container">

		<!-- Partie gauche -->
		<div class="flex-item">

			<div id="accountImage" class="text-center">
				<img src="../img/koedia.jpg" class="rounded mx-auto d-block">
			</div>

			<div id="accountInfos">
				<div class="panel panel-default">
					<div class="panel-heading panel-title">
<!-- 						<span th:text="#{firstname}"></span> -->
						Mes infos
					</div>
					<div class="panel-body">
						<span class="glyphicon glyphicon-envelope" th:text="${email}"></span>
					</div>
					<div class="panel-body">
						<span class="glyphicon glyphicon-globe" th:text="${websiteAddress}"></span>
					</div>
					<div class="panel-body">
						<span class="glyphicon glyphicon-home" th:text="${address}"></span>
					</div>
					<div class="panel-body">
						<span class="glyphicon glyphicon-phone" th:text="${phone}"></span>
					</div>
					<div class="panel-body">
						<a th:href="@{/account/update}">Modifier mes informations</a>
					</div>
				</div>

				<div class="panel panel-default">
					<div class="panel-heading panel-title">About</div>
					<ul class="list-group">
						<li class="list-group-item"><span class="badge"><span th:text="${numberActivities}"></span></span>
							Number of activities</li>
					</ul>
				</div>
				
				<div class="panel panel-default">
					<div class="panel-heading panel-title">Activity</div>
							<div class="panel-body">
								<a th:href="@{/activity/create}">Créer une activité</a>
					       </div>
					       <div class="panel-body">
								<a th:href="@{/activity/list}">Liste des activités</a>
					       </div>
				</div>
				
			</div>
		</div>

		<!-- Partie droite -->
		<div class="flex-item">
		
		
		
			<th:block th:each="activity : ${activitiesList}" class="activityBloc">
				<div class="activityBlocDesc">
					<!-- Image -->
					<div class="activityBlocDescImage">
						<img th:src="${activity.mainPicture}" class="rounded">
					</div>
					<div class="activityBlocDescText"><span th:text="${activity.description}"></span></div>
					<div class="activityBlocDescDetails">
						<div class="activityBlocDescTitle">
							<div class="">
								<h4>
									<span th:text="${activity.category}" class=""></span>
								</h4>
								<h2>
									<span th:text="${activity.title}" class=""></span>
								</h2>
								<span class="">Genre</span>
							</div>
						</div>
						<div class="activityBlocDescAddress">
							<div class="">
								<p><span th:text="${activity.address}" class=""></span></p>
							</div>
						</div>
						<div class="activityBlocDescPrice">
							<div class="">
								<p><span th:text="${activity.price}" class=""></span></p>
							</div>
						</div>
					</div>
				</div>
				<div class="activityBlocBtn">
						
					<form th:action="@{/activity/toggle}" method="POST" enctype="multipart/form-data">
						<input type="checkbox" data-toggle="toggle" th:attr="data-on=#{activate}" th:attr="data-on=#{deactivate}" th:checked="${activity.active}" data-onstyle="success" data-offstyle="danger" onChange="submit();">
						<input type="hidden" th:id="activityId" th:name="activityId" th:value="${activity.id}" />
					</form>
					
<!-- 					${activity.active ? "checked='checked'" : ""}  -->
					<div class="btn btn-primary">
						<span th:text="#{edit}"></span>
					</div>
					<div class="btn btn-warning">
						<span th:text="#{remove}"></span>
					</div>
				</div>
				<div>
				</div>
			</div>
		</div>
	</th:block>
</body>
	</html>