<!DOCTYPE html>
<html lang="fr" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head th:include="fragments/header :: header">
</head>


<body>
		
	<input th:id="stepNumber" type="hidden" th:value="${stepNumber}">
	<input th:id="currentTab" type="hidden" th:value="${currentTab}">
	<input th:id="validatedSteps" type="hidden" th:value="${validatedSteps}">

	<h1>
		<span th:text="#{activity_creation}"></span>
	</h1>
	
<!-- BEGIN Progression bar -->
	<div class="col-lg-3">
	
		<ul class="nav">
			<li class="nav-item step" onclick="showTabFromNavBar('0');">
				<div id="go-to-stepTitle">
					<span class="indication" th:text="#{title}"></span>
					<p>
						<span class="glyphicon glyphicon-ok"></span> 
					</p>
				</div>
			</li>
			<li class="nav-item step" onclick="showTabFromNavBar('1');">
				<div id="go-to-stepCategory">
					<span class="indication" th:text="#{category}"></span>
					<p>
						<span class="glyphicon glyphicon-ok"></span> 
					</p>
				</div>
			</li>
			<li class="nav-item step"  onclick="showTabFromNavBar('2');">
				<div id="go-to-stepDescription">
					<span class="indication" th:text="#{description}"></span>
					<p>
						<span class="glyphicon glyphicon-ok"></span> 
					</p>
				</div>
			</li>
			<li class="nav-item step"  onclick="showTabFromNavBar('3');">
				<div id="go-to-stepMeetingPoint">
					<span class="indication" th:text="#{meeting_point}"></span>
					<p>
						<span class="glyphicon glyphicon-ok"></span> 
					</p>
				</div>
			</li>
			<li class="nav-item step"  onclick="showTabFromNavBar('4');">
				<div id="go-to-stepPeriod">
					<span class="indication" th:text="#{period}"></span>
					<p>
						<span class="glyphicon glyphicon-ok"></span> 
					</p>
				</div>
			</li>
			<li class="nav-item step"  onclick="showTabFromNavBar('5');">
				<div id="go-to-stepSchedules">
					<span class="indication" th:text="#{schedule}"></span>
					<p>
						<span class="glyphicon glyphicon-ok"></span> 
					</p>
				</div>
			</li>
			<li class="nav-item step" onclick="showTabFromNavBar('6');">
				<div id="go-to-stepImages">
					<span class="indication" th:text="#{images}"></span>
					<p>
						<span class="glyphicon glyphicon-ok"></span> 
					</p>
				</div>
			</li>
			<li class="nav-item step" onclick="showTabFromNavBar('7');">
				<div id="go-to-stepParticipationCriterias">
					<span class="indication" th:text="#{participation_criterias}"></span>
					<p>
						<span class="glyphicon glyphicon-ok"></span> 
					</p>
				</div>
			</li>
			<li class="nav-item step" onclick="showTabFromNavBar('8');">
				<div id="go-to-stepDefaultPrice">
					<span class="indication" th:text="#{price}"></span>
					<p>
						<span class="glyphicon glyphicon-ok"></span> 
					</p>
				</div>
			</li>
			<li class="nav-item step" onclick="showTabFromNavBar('9');">
				<div id="go-to-stepPaxs">
					<span class="indication" th:text="#{pax_type}"></span>
					<p>
						<span class="glyphicon glyphicon-ok"></span> 
					</p>
				</div>
			</li>
			<li class="nav-item step" onclick="showTabFromNavBar('10');">
				<div id="go-to-stepCapacity">
					<span class="indication" th:text="#{group_capacity}"></span>
					<p>
						<span class="glyphicon glyphicon-ok"></span> 
					</p>
				</div>
			</li>
			<li class="nav-item step" onclick="showTabFromNavBar('11');">
				<div id="go-to-stepValidate">
					<span class="indication" th:text="#{validate_and_send}"></span>
				</div>
			</li>
		</ul>	
	
	</div>
<!-- END Progression bar -->
	
<!-- BEGIN Creation form -->
	<div class="col-lg-5">
	
	<!-- STEP 1 : Title -->
	<form th:id="form-step-title" th:action="@{/activity/stepTitle}" th:object="${activity}" method="POST" enctype="multipart/form-data" class="needs-validation" novalidate>
	
		<div id="step-title" class="tab" data-isvalid="false">
<!-- Title and indications -->
			<span class="title" th:text="#{title_step_name}"></span>
			<span class="indication" th:text="#{title_step_indication}"></span>
<!-- Input -->
			<div th:class="${#fields.hasErrors('title') ? 'form-group has-error' : 'form-group'}">
				<input type="text" class="form-control form-input" th:field="*{title}" autocomplete="off" onclick="changeStepToValidate()"/>
			</div>
<!--  Error message bloc -->
			<div th:if="${#fields.hasErrors('title')}" class="alert alert-danger error-message-title" role="alert">
				<span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
				<span th:errors="*{title}"></span>
			</div>
			<button type="submit" id="validateBtn" class="btn btn-lg btn-primary" onclick="validateCurrentTab()">Valider</button>
		</div>
		
	</form>
	
	
	<!-- STEP 2 : Category -->
	<form th:id="form-step-category" th:action="@{/activity/stepCategory}" th:object="${activity}" method="POST" enctype="multipart/form-data" class="needs-validation" novalidate>

		<div id="step-category" class="tab" data-isvalid="false">
			<span class="title" th:text="#{category_step_name}"></span>
			<span class="indication" th:text="#{category_step_indication}"></span>
<!-- Input -->
			<div th:class="${#fields.hasErrors('category') ? 'form-group has-error' : 'form-group'}">
				<select class="form-control form-control-lg" th:field="*{category}" onclick="changeStepToValidate()">
					<option th:text="#{cat_info_message}" th:value="NULL" selected="selected"></option>
					<option th:value="#{cat_art}" th:text="#{cat_art}"></option>
					<option th:value="#{cat_sport}" th:text="#{cat_sport}"></option>
					<option th:value="#{cat_nature}" th:text="#{cat_nature}"></option>
					<option th:value="#{cat_food}" th:text="#{cat_food}"></option>
					<option th:value="#{cat_entertainment}" th:text="#{cat_entertainment}"></option>
					<option th:value="#{cat_nightlife}" th:text="#{cat_nightlife}"></option>
					<option th:value="#{cat_discovery}" th:text="#{cat_discovery}"></option>
				</select>
			</div>
<!--  Error message bloc -->
			<div th:if="${#fields.hasErrors('category')}" class="alert alert-danger error-message-title" role="alert">
				<span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
				<span th:errors="*{category}"></span>
			</div>
			<button type="submit" id="validateBtn" class="btn btn-lg btn-primary" onclick="validateCurrentTab()">Valider</button>
		</div>
		
	</form>
	
	
<!-- STEP 3 : Description -->
	<form th:id="form-step-description" th:action="@{/activity/stepDescription}" th:object="${activity}" method="POST" enctype="multipart/form-data" class="needs-validation" novalidate>

		<div id="step-description" class="tab" data-isvalid="false">
			<span class="title" th:text="#{description_step_name}"></span>
			<span class="indication" th:text="#{description_step_indication}"></span>
			<!-- Select description language -->
			<select id="selectDescLang" class="form-control" onChange="toggleDescLang();">
				<option th:value="FR" th:text="#{lang_fr}"></option>
				<option th:value="EN" th:text="#{lang_en}"></option>
				<option th:value="ES" th:text="#{lang_es}"></option>
			</select>
<!-- Input -->
			<div id="blocDescFR" class="form-group">
				<textarea th:field="*{descriptionFre}" class="form-control" oninput="this.className = 'form-control'" th:placeholder="#{desc_indication}" rows="3" onclick="changeStepToValidate();"></textarea>
				<div th:if="${#fields.hasErrors('descriptionFre')}" class="alert alert-danger error-message-title" role="alert">
					<span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
					<span th:errors="*{descriptionFre}"></span>
				</div>
			</div>
			<div id="blocDescEN" class="form-group">
				<textarea th:field="*{descriptionEng}" class="form-control" oninput="this.className = 'form-control'" th:placeholder="#{desc_indication}" rows="3" onclick="changeStepToValidate();"></textarea>
				<div th:if="${#fields.hasErrors('descriptionEng')}" class="alert alert-danger error-message-title" role="alert">
					<span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
					<span th:errors="*{descriptionEng}"></span>
				</div>
			</div>
			<div id="blocDescES" class="form-group">
				<textarea th:field="*{descriptionEsp}" class="form-control" oninput="this.className = 'form-control'" th:placeholder="#{desc_indication}" rows="3" onclick="changeStepToValidate();"></textarea>
				<div th:if="${#fields.hasErrors('descriptionEsp')}" class="alert alert-danger error-message-title" role="alert">
					<span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
					<span th:errors="*{descriptionEsp}"></span>
				</div>
			</div>
			<button type="submit" id="validateBtn" class="btn btn-lg btn-primary" onclick="validateCurrentTab()">Valider</button>
		</div>
	</form>
		
<!-- STEP 4 : MeetingPoint -->
	<form th:id="form-step-meetingPoint" th:action="@{/activity/stepMeetingPoint}" th:object="${activity}" method="POST" enctype="multipart/form-data" class="needs-validation" novalidate>

		<input type="hidden" th:field="*{latitude}"></input>
		<input type="hidden" th:field="*{longitude}"></input>
		<input type="hidden" id="zoom" name="zoom"></input>
		
		<div class="tab" id="step-meetingPoint" data-isvalid="false">
			<span class="title" th:text="#{meetingpoint_step_name}"></span>
			<span class="indication" th:text="#{meetingpoint_step_indication}"></span>
<!-- Input -->
			<span th:text="#{meeting_point_name}"></span>
			<input type="text" class="form-control form-input" th:field="*{meetingPoint}" th:placeholder="#{meeting_point_name}" oninput="this.className = ''" onclick="changeStepToValidate();" autocomplete="off" />
			<div th:if="${#fields.hasErrors('meetingPoint')}" class="alert alert-danger error-message-title" role="alert">
				<span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
				<span th:errors="*{meetingPoint}"></span>
			</div>
			
			
			<span th:text="#{address}"></span>
			<input type="text" class="form-control form-input" th:field="*{address}" th:placeholder="#{address}" oninput="this.className = ''" onclick="changeDestinationCityWithId(this.id); changeStepToValidate();" autocomplete="off" />
			<div th:if="${#fields.hasErrors('address')}" class="alert alert-danger error-message-title" role="alert">
				<span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
				<span th:errors="*{address}"></span>
			</div>
			
			<span th:text="#{city}"></span>
			<input type="text" class="form-control form-input" th:field="*{city}" th:placeholder="#{city}" oninput="this.className = ''" onclick="changeDestinationCityWithId(this.id); changeStepToValidate();" autocomplete="off" />
			
			<span th:text="#{country}"></span>
			<input type="text" class="form-control form-input" th:field="*{country}" th:placeholder="#{country}" oninput="this.className = ''" onclick="changeStepToValidate();" autocomplete="off" />
			
			<span th:text="#{zip_code}"></span>				
			<input type="text" class="form-control form-input" th:field="*{zipCode}" th:placeholder="#{zip_code}" oninput="this.className = ''" onclick="changeStepToValidate();" autocomplete="off" />	
<!-- Google map			 -->
			<div id="googleMap"></div>
			
			<button type="submit" id="validateBtn" class="btn btn-lg btn-primary" onclick="validateCurrentTab()">Valider</button>
		</div>
	</form>
		
<!-- STEP 5 : Period -->
	<form th:id="form-step-period" th:action="@{/activity/stepPeriod}" th:object="${activity}" method="POST" enctype="multipart/form-data" class="needs-validation" novalidate>

		<div class="tab" id="step-period" data-isvalid="false">
<!-- Period  -->
				<span th:text="#{start_date_period}"></span>
				<input type="text" class="form-control form-input datepicker" th:field="*{beginDate}" onchange="changeReturnDate(); onChangeDate(this); changeStepToValidate();" />
				
				<span th:text="#{end_date_period}"></span>
				<input type="text" class="form-control form-input datepicker" th:field="*{endDate}" onchange="onChangeDate(this); changeStepToValidate();" />
				
				<button type="submit" id="validateBtn" class="btn btn-lg btn-primary" onclick="validateCurrentTab()">Valider</button>
				
			</div>		
		</form>
		
		
		
		
		
		
<!-- STEP 6 : Schedules -->
	<form th:id="form-step-schedules" th:action="@{/activity/stepSchedules}" th:object="${activity}" method="POST" enctype="multipart/form-data" class="needs-validation" novalidate >

	<!-- BEGIN Schedule bloc -->
		<div class="tab" id="step-schedules" data-isvalid="false"> 
		<div th:each="currentSchedule, statusSchedule : ${activity.usualSchedules}">
		<!--  Créer div pour chaque jour + jours custom -->
			<div th:if="${currentSchedule.sessions}" class="panel-body">
				<table class="table">
						<thead>
						     <tr class="primary">
						        <th scope="col">Jour n°<span th:text="${statusSchedule.index}"></span></th> <!-- Nom jour de la semaine ou custom -->
						        <th scope="col">Begin</th>
						        <th scope="col">End</th>
						        <th scope="col">Add extra session</th>
						     </tr>
						</thead>
					<!-- TODO : Si on affiche le weekday alors c'est qu'on a setté au moins un input endHour -->
					 <tbody th:id="'sessionBloc' + ${statusSchedule.index} + ${statusSession.index}" 
					 		th:each="currentSession, statusSession : ${currentSchedule.sessions}" 
					 		class="sessionBloc">

					 	<!-- Status -->
						 <tr>
						    <td class="success">Session N°<span th:text="${statusSession.index}"></span></td>
						    
						    <!-- beginHour -->
						    <td class="danger">
						    	<!-- IF : session is already setted -->
						    	<span th:if="${currentSession.beginHour}" th:text="${currentSession.beginHour}"></span>
 						    	<!-- ELSE : session is not setted -->
						    	<input th:unless="${currentSession.beginHour}"
							    	type="text"	
									th:field="*{usualSchedules[__${statusSchedule.index}__].sessions[__${statusSession.index}__].beginHour}" 
									class="form-control clockpicker">
						    </td>
						    <!-- endHour -->
						    <td class="danger">
						    	<span th:if="${currentSession.endHour}" th:text="${currentSession.endHour}"></span>
						    	<input th:unless="${currentSession.endHour}"
							    	type="text"	
									th:field="*{usualSchedules[__${statusSchedule.index}__].sessions[__${statusSession.index}__].endHour}" 
									class="form-control clockpicker">
						    </td>
						    
						    <td>
						    <input type="hidden" th:field="*{usualSchedules[__${currentSchedule.weekdayNumber}__].sessions[__${currentSession.sessionNumber}__].beginHour}">
							<input type="hidden" th:field="*{usualSchedules[__${currentSchedule.weekdayNumber}__].sessions[__${currentSession.sessionNumber}__].endHour}">
							<input type="hidden" th:field="*{usualSchedules[__${currentSchedule.weekdayNumber}__].sessions[__${currentSession.sessionNumber}__].sessionNumber}">
							<input type="hidden" th:field="*{usualSchedules[__${currentSchedule.weekdayNumber}__].weekdayNumber}">
						    
   							    <span th:text="${statusSchedule.index}"></span>
	 						    <span th:text="${statusSession.index}"></span>
  							    
						    	<button type="button" 
						    		th:id="addSessionBtn + ${statusSchedule.index} + ${statusSession.index}"
						    		th:onclick="|addSession('${statusSchedule.index}', '${statusSession.index}')|">
							    	<span class="glyphicon glyphicon-plus"></span>
						    	</button>
						    </td>
						</tr>
					</tbody>
				</table>
				</div>
			</div>
			
			<button type="submit" id="validateBtn" class="btn btn-lg btn-primary" onclick="validateCurrentTab()">Valider</button>
			
		</div>
	<!-- END Schedule bloc -->
	</form>	
			
<!-- STEP 6 : Images -->
	<form th:id="form-step-images" th:action="@{/activity/stepImages}" th:object="${activity}" method="POST" enctype="multipart/form-data" class="needs-validation" novalidate>

	<div class="tab" id="step-images" data-isvalid="false">
	
			<div>
		<table>
			<tr>
				<td>
					File to upload :
				</td>
				<!-- TODO On parcourt la liste avec un attribut de la classe -> alternative : Utiliser directive thymeleaf #lists.size -->
				<td th:switch="${activity.images[0].path}">
					<input th:case="null" type="file" th:field="*{images[0].file}" />
					<input th:case="*" type="file" th:field="*{images[__${activity.nbImages}__].file}" />
				</td>
			</tr>
			<tr>
				<td>
					<input type="submit" value="Upload" />
				</td>
			</tr>
		</table>
	</div>
	<div id="keepValues" th:if="!${#lists.isEmpty(activity.images)}">
		<div th:each="image, status : ${activity.images}">
			<input type="hidden" th:field="*{images[__${status.index}__].path}"/>
		</div>
	</div>
	
		<div th:if="!${#strings.isEmpty(activity.images[0].path)}" class="container">
		  <div id="myCarousel" class="carousel slide" data-ride="carousel">
		    Indicators
		    <ol th:each="image, status : ${activity.images}" class="carousel-indicators">
		      <li data-target="#myCarousel" data-slide-to="${status}" class="active"></li>
		    </ol>
		
	<!-- 	    Wrapper for slides -->
		    <div class="carousel-inner">
	<!-- 		      Slides -->
				  <div class="item active">
				      <img th:src="${activity.images[0].path}" alt="" style="width:100%;">
				 </div>
				 
			     <div class="item" th:each="image, status : ${activity.images}" th:if="${image.path != null}">
			        <img th:src="${image.path}" alt="" style="width:100%;">
			     </div>
		    </div>
		
	<!-- 	    Left and right controls -->
		    <a class="left carousel-control" href="#myCarousel" data-slide="prev">
		      <span class="glyphicon glyphicon-chevron-left"></span>
		      <span class="sr-only">Previous</span>
		    </a>
		    <a class="right carousel-control" href="#myCarousel" data-slide="next">
		      <span class="glyphicon glyphicon-chevron-right"></span>
		      <span class="sr-only">Next</span>
		    </a>
		  </div>
		</div>
		
	</div>
	
	</form>
		
<!-- STEP 7 : participation criterias -->
	<form th:id="form-step-participationCriterias" th:action="@{/activity/stepParticipationCriterias}" th:object="${activity}" method="POST" enctype="multipart/form-data" class="needs-validation" novalidate>

		<div class="tab" id="step-participationCriterias" data-isvalid="false">
			<span class="title" th:text="#{criterias_step_name}"></span>
			<span class="indication" th:text="#{criterias_step_indication}"></span>
			
			<div class="form-group row-form"> 
				<select class="form-control form-control-lg" th:field="*{minimumAge}">
					<option th:value="0">0</option>
					<option th:value="1">1</option>
					<option th:value="2">2</option>
					<option th:value="3">3</option>
					<option th:value="4">4</option>
					<option th:value="5">5</option>
					<option th:value="6">6</option>
					<option th:value="7">7</option>
					<option th:value="8">8</option>
					<option th:value="9">9</option>
					<option th:value="10">10</option>
					<option th:value="11">11</option>
					<option th:value="12">12</option>
					<option th:value="13">13</option>
					<option th:value="14">14</option>
					<option th:value="15">15</option>
					<option th:value="16">16</option>
					<option th:value="17">17</option>
					<option th:value="18">18</option>
				</select>
			</div>
			
			<div class="form-check row-form">
				<span th:text="#{required_id}"></span> 
				<input type="checkbox" class="form-check-input" th:field="*{requiredId}" />
			</div>
			
			<button type="submit" id="validateBtn" class="btn btn-lg btn-primary" onclick="validateCurrentTab()">Valider</button>
		</div>
	</form>
			
<!-- STEP 8 : Default price -->
	<form th:id="form-step-defaultPrice" th:action="@{/activity/stepDefaultPrice}" th:object="${activity}" method="POST" enctype="multipart/form-data" class="needs-validation" novalidate>

		<div class="tab" id="step-defaultPrice" data-isvalid="false">
		
			<span class="title" th:text="#{defaultprice_step_name}"></span>
			<span class="indication" th:text="#{defaultprice_step_indication}"></span>
			
			<div th:id="global" class="row-form">
				<span>Prix</span>
				<input class="form-control" type="text" th:id="paxDefaultPrice" th:field="*{defaultPax.price}" placeholder="€"/>
				<input type="hidden" th:id="paxDefaultName" th:field="*{defaultPax.name}" />
				<input type="hidden" th:id="paxDefaultAgeMin" th:field="*{defaultPax.ageMin}" />
				<input type="hidden" th:id="paxDefaultAgeMax" th:field="*{defaultPax.ageMax}" />
			</div>
			
			<button type="submit" id="validateBtn" class="btn btn-lg btn-primary" onclick="validateCurrentTab()">Valider</button>
			
		</div>
	</form>	
		
<!-- STEP 9 : Paxs -->
	<form th:id="form-step-paxs" th:action="@{/activity/stepPaxs}" th:object="${activity}" method="POST" enctype="multipart/form-data" class="needs-validation" novalidate>

		<div class="tab" id="step-paxs" data-isvalid="false">
		
			<span class="title" th:text="#{paxs_step_name}"></span>
			<span class="indication" th:text="#{paxs_step_indication}"></span>
			
			<div class="row-form">
			<!-- TODO : Utiliser get size of list -->
				SIZE
				<span th:text="${#lists.size(activity.paxs)}"></span>
				FIN SIZE
				<span th:text="${#lists.size(activity.paxs)-1}"></span>
				<span>Nom du pax</span>
				<input class="form-control" type="text" th:field="*{paxs[__${#lists.size(activity.paxs)-1}__].name}" placeholder="Create you pax category" />
				<span>Age minimum</span>
				<input class="form-control" type="text" th:field="*{paxs[__${#lists.size(activity.paxs)-1}__].ageMin}" />
				<span>Age maximum</span>
				<input class="form-control" type="text" th:field="*{paxs[__${#lists.size(activity.paxs)-1}__].ageMax}" />
				<span>Prix</span>
				<input class="form-control" type="text" th:field="*{paxs[__${#lists.size(activity.paxs)-1}__].price}" />
			</div>
			
			<button type="submit" id="validateBtn" class="btn btn-lg btn-primary" onclick="createPax()">Valider</button>
			
		</div>
	</form>
			
<!-- STEP 10 : Capacity group -->
	<form th:id="form-step-groupCapacity" th:action="@{/activity/stepGroupCapacity}" th:object="${activity}" method="POST" enctype="multipart/form-data" class="needs-validation" novalidate>
		<div class="tab" id="step-capacity" data-isvalid="false">
		
			<span class="title" th:text="#{capacitygroup_step_name}"></span>
			<span class="indication" th:text="#{capacitygroup_step_indication}"></span>
			
			<div class="row-form ">
				<span th:text="#{minCapacityGroup}"></span>
				<input type="text" onkeyup="this.value=this.value.replace(/\D/g,'')" th:field="*{minCapacityGroup}" autocomplete="off" />
				<span th:text="#{maxCapacityGroup}"></span>
				<input type="text" onkeyup="this.value=this.value.replace(/\D/g,'')" th:field="*{maxCapacityGroup}" autocomplete="off" />
			</div>
			
			<button type="submit" id="validateBtn" class="btn btn-lg btn-primary" onclick="validateCurrentTab()">Valider</button>
		</div>
	</form>
	
<!-- STEP 11 : Validation and submit -->

	<form th:id="form-step-validate-and-send" th:action="@{/activity/validateActivity}" th:object="${activity}" method="POST" enctype="multipart/form-data" class="needs-validation" novalidate>

		<div class="tab" id="step-validate" data-isvalid="false">
			<span class="title" th:text="#{validateandsubmit_step_name}"></span>
			<button type="submit" id="validateBtn" class="btn btn-lg btn-primary" onclick="">Valider</button>
		</div>

	</form>		
		<!-- Navigation and submit buttons -->
<!-- 		<div class="btnStep"> -->
<!-- 			<div> -->
<!-- 				<button type="button" id="modifyBtn" class="btn btn-lg btn-secondary" onclick="">Modifier</button> -->
<!-- 				<button type="submit" id="validateBtn" class="btn btn-lg btn-primary" onclick="validateCurrentTab()">Valider</button> -->
<!-- 			</div> -->
<!-- 		</div> -->
		
	</div>
	
<!-- 	</form> -->
	<!-- END Creation form -->
	
	<!-- BEGIN Pax bloc -->
	<div id="paxsCreated" class="col-lg-5 pax-bloc">
		<div th:each="pax, status : ${activity.paxs}" class="pax-item">
			<p><span class="pax-infos"></span></p>
			<span th:text="${pax.name}"></span>
			<p><span class="pax-infos"></span></p>
			<span th:text="${pax.ageMin}"></span>
			<p><span class="pax-infos"></span></p>
			<span th:text="${pax.ageMax}"></span>
			<p><span class="pax-infos"></span></p>
			<span th:text="${pax.price}"></span>
	   </div>
	</div>
	<!-- END Pax bloc -->
	
</body>
	

<script type="text/javascript" th:inline="javascript">

	// Current displayed schedule 
	var currentDisplayedSchedule = "createScheduleBloc1";
	
	/*<![CDATA[*/var validatedSteps = /*[[${validatedSteps}]]*/ null;/*]]>*/
	
	jQuery('.datepicker').datepicker({
		dateFormat: 'dd/mm/yy',
		format: 'dd-mm-yy',
	    startDate: '-3d'
	});
	jQuery('.clockpicker').clockpicker();
	

	window.onload = function() {
		// Init desc per lang
		jQuery('#blocDescFR').show();
		jQuery('#blocDescEN').hide();
		jQuery('#blocDescES').hide();
		
		// Hide google map
		document.getElementById("googleMap").style.display = "none";
		
		// Init autocomplete
		autocomplete("#address");
		autocomplete("#city");
		
		// Notify tabs already validated
		displayValidatedTabs(validatedSteps);
		
		console.log(validatedSteps);
		
		initSchedules();
		
		// Display the first step
		if (jQuery("#stepNumber").val() >= 0) {
			currentTab = jQuery("#stepNumber").val();
			showTab(jQuery("#stepNumber").val());
		} else {
			currentTab = jQuery("#stepNumber").val();
			showTab(0);
		}
	}
	
	function displayValidatedTabs(validatedSteps) {
		if(validatedSteps != null) {
			for (var i = 0; i < validatedSteps.length; i++) {
				jQuery("#go-to-" + validatedSteps[i]).css("border", "solid 1px green");
			}
		}
	}
	
	function changeStepToValidate() {
		// Indicate which is the current field to validate to the Spring controller 
		var stepToValidateId = tabs[currentTab].id;
		jQuery("#stepToValidate").val(stepToValidateId.substr(stepToValidateId.indexOf("-") + 1));
	}
	
	function validateCurrentTab() {
// 		// Hide the current tab
// 		tabs[currentTab].style.display = "none";
// 		// Increase or decrease the current tab by 1
// 		currentTab = parseInt(currentTab + 1);
	}
	
	function toggleDescLang() {
		var descLang = jQuery('#selectDescLang').val();
		if (descLang == 'FR') {
			jQuery('#blocDescFR').show();
			jQuery('#blocDescEN').hide();
			jQuery('#blocDescES').hide();
		} else if (descLang == 'EN') {
			jQuery('#blocDescEN').show();
			jQuery('#blocDescFR').hide();
			jQuery('#blocDescES').hide();
		} else if (descLang == 'ES') {
			jQuery('#blocDescES').show();
			jQuery('#blocDescEN').hide();
			jQuery('#blocDescFR').hide();
		} else {
			jQuery('#blocDescFr').show();
			jQuery('#blocDescEn').hide();
			jQuery('#blocDescEs').hide();
		}
	}
	
	function changeDestinationCityWithId(id){
		document.getElementById(id).value = "";
	}
	
	function initSchedules() {
		
		var inputs;
		
		jQuery("#removeExtraSessionBtn").hide();
		jQuery('.createScheduleBloc').hide();
		jQuery('.sessionBloc').hide();
	
		jQuery('#selectWeekday').val(currentDisplayedSchedule);
		jQuery("#" + currentDisplayedSchedule).show();
	
		for (var i = 0; i < 7; i++) {

			// Show first input for every schedule
			jQuery("#sessionBloc" + i + "0").show();
			
			for (var j = 0; j < 9; j++) {
				inputs = jQuery("#sessionBloc" + i + j + " :input");

				if (inputs[0].value != "" && inputs[0].value.length > 0) {
					jQuery("#sessionBloc" + i + j).show();
					// TODO : Checker si premier input is null si oui, on le masque
					if (jQuery("#sessionBloc00").val) {
						
					}
				}
			}
			// Activate the first input displayed
			toggleInputsHour(11, true);
		}
	}
	
	function addSession(weekdayNumber, sessionNumber) {
		var blocToShow = "#sessionBloc" + weekdayNumber + (parseInt(sessionNumber) + 1);
		var btnToHide = "#addSessionBtn" + weekdayNumber + (parseInt(sessionNumber));
		jQuery(blocToShow).show();
		jQuery(btnToHide).hide();
	}
	
		function onChangeTime(isBegin) {
			if (isBegin) {
				console.log("ok");
			} else {
				console.log("ko");
			}
			console.log("Input values " + jQuery("#inputSessionBegin11").val());
		}
		
		function toggleInputsHour(sessionBlocId, isValidable) {
			var inputsToActivate = document.getElementById("sessionBloc" + sessionBlocId).getElementsByTagName("input");
			for (var j = 0; j < inputsToActivate.length; j++) {
				 if(inputsToActivate[j] !== 'undefined') {
					 inputsToActivate[j].setAttribute("data-settable", isValidable);
					 if(!isValidable) {
						 inputsToActivate[j].value = "";
					 }
				 }
			}
		}
		
		function toggleScheduleDay() {
		
			var weekday = jQuery('#selectWeekday').val();
			var schedulesBloc, schedulesInputs;

			jQuery("#" + currentDisplayedSchedule).hide();
			jQuery("#" + weekday).show();
		
// 			toggleSettableInputs(currentDisplayedSchedule, weekday);
		
			currentDisplayedSchedule = weekday;
		}
	
		function toggleSettableInputs(scheduleToHide, scheduleToShow){
		
			schedulesBlocToHide = document.getElementById(scheduleToHide);
			schedulesInputsToHide = schedulesBlocToHide.getElementsByTagName("input");
		
			schedulesBlocToShow = document.getElementById(scheduleToShow);
			schedulesInputsToShow = schedulesBlocToShow.getElementsByTagName("input");
		
			if(schedulesInputsToHide.length > 0) {
				for (var i = 0; i <= schedulesInputsToHide.length; i++) {
					if(schedulesInputsToHide[i].type == "time") {
						schedulesInputsToHide[i].setAttribute('settable', 'false');
					}
				}
				for (var i = 0; i <= schedulesInputsToShow.length; i++) {
					if(schedulesInputsToShow[i].type == "time") {
						schedulesInputsToShow[i].setAttribute('settable', 'ture');
					}
				}
			}
		
		}
		
		function removeExtraSession(weekdayNumber, sessionNumber) {
			jQuery("#usualSchedules0.sessions0.beginHour").val("");
		}
</script>

</html>
