<!DOCTYPE html>
<html lang="fr" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head th:include="fragments/header :: header">
<!-- 		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"> -->
</head>
<body>
  	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
 
 	<form th:id="form-step-images" th:action="@{/activity/carousel/add}" th:object="${activity}" method="POST" enctype="multipart/form-data" class="needs-validation" novalidate>
 
	<input type="file" th:field="*{mainPicture}" th:placeholder="#{mainPicture}" >
	<!-- 	oninput="this.className = ''"/> -->
 	<button id="validateImgBtn" type="submit">Valider l'image</button>
 
<!--  <div id="slider"> -->
<!-- 			<div id="slideContainer"> -->
				
<!-- 				<span id="next" class="nextPrevIcon picto-right-arrow" ></span> 	 -->
<!-- 				<span id="prev" class="nextPrevIcon picto-left-arrow"></span> 	 -->
<!-- 				<ul id="" class="slideHtl"> -->
<!-- 					<li id="slide1" class="imgThumb"> -->
<!-- 						<img class="" alt="picture" src="${activity.mainPictureFile}" onerror="this.onerror=null;this.src='${picture1.url};'"/> -->
<!-- 						<img class="" alt="picture" src="${activity.mainPicture}" onerror="this.onerror=null"/> -->
<!-- 						<img class="" alt="picture" src="${mainPicture}" onerror="this.onerror=null'"/> -->
<!-- 					</li> -->
<!-- 					<li id="slide2" class="imgThumb"> -->
<!-- <!-- 						<img class="" alt="picture" src="${activity.mainPictureFile}" onerror="this.onerror=null;this.src='${picture2.url};'"/> -->
<!-- 						<img class="" alt="picture" src="${activity.mainPicture}" onerror="this.onerror=null;this.src='${picture1.url};'"/> -->
<!-- 					</li> -->
<!-- 				</ul> -->
					
<!-- 					<div th:if="${not #lists.isEmpty(activity.images)}"></div> -->
<!-- 				<ul class="thumbnails"> -->
<!-- 					<div th:each="currentImage, status : ${activity.images}"> -->
<!-- 					</div> -->
					
<!-- 					<c:forEach items="${resultSelected.description.validPicturesUrlList}" var="picture" varStatus="indexVal"> -->
<!-- 						<c:if test="${not empty picture.url}"> -->
<!-- 							<c:set var="pictureType" value="${picture.type}" /> -->
						
<!-- 							<c:if test="${empty pictureType}"> -->
<!-- 								<c:set var="pictureType" value="${resultSelected.name}" /> -->
<!-- 							</c:if> -->
							
<!-- 							<li itemprop="photo" itemscope itemtype="http://schema.org/ImageObject">  -->
<!-- 								<a href="${picture.url}" title="" rel="nofollow">  -->
<!-- 									<img src="${picture.url}" alt="${pictureType}" itemprop="contentURL" data-pin-nopin="true"/> -->
<!-- 								</a> -->
<!-- 							</li> -->
<!-- 						</c:if> -->
<!-- 					</c:forEach> -->
<!-- 				</ul>	 -->
<!-- 		</div> -->
<!-- </div> -->
 
 
<!-- <div id="slider" th:if="${activity.images[0] != null and activity.images[1].path != null}"> -->
<!-- <div id="slider" th:if="${activity.images[0] != null}"> -->
<!-- 	<span th:text="${activity.images[0].path}"></span> -->
<!-- 	<div id="slideContainer"> -->
<!-- 		<span id="next" class="nextPrevIcon picto-right-arrow" ></span> 	 -->
<!-- 		<span id="prev" class="nextPrevIcon picto-left-arrow"></span> 	 -->
<!-- 		<ul id="" class="slideHtl"> -->
<!-- 			<li id="slide1" class="imgThumb"> -->
<!-- 				<input id="pictureDisplay1" type="image" th:src="${activity.images[0].path}" th:field="*{images[0]}" value="overview" style="width: 150px; heigth: 150px;" disabled/> -->
<!-- 			</li> -->
<!-- 			<li id="slide2" class="imgThumb"> -->
<!-- 				<input id="pictureDisplay2" type="image" th:src="${activity.images[1].path}" th:field="*{images[1]}" value="overview" style="width: 150px; heigth: 150px;" disabled/> -->
<!-- 			</li> -->
<!-- 		</ul> -->
<!-- 		<ul class="thumbnails"> -->
<!-- 			<li th:each="picture, status : ${activity.images}" itemprop="photo" itemscope itemtype="http://schema.org/ImageObject">  -->
<!-- 				<a th:if="${picture.path != null}" href="${picture.url}" title="" rel="nofollow">  -->
<!-- 					<img src="${picture.url}" alt="${status}" itemprop="contentURL"/> -->
<!-- 				</a> -->
<!-- 			</li> -->
<!-- 		</ul>	 -->
<!-- 	</div> -->
<!-- </div> -->

		</form>


<div id="demo" class="carousel slide" data-ride="carousel">

  <!-- Indicators -->
  <ul class="carousel-indicators">
    <li data-target="#demo" data-slide-to="0" class="active"></li>
    <li data-target="#demo" data-slide-to="1"></li>
    <li data-target="#demo" data-slide-to="2"></li>
  </ul>

  <!-- The slideshow -->
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="la.jpg" alt="Los Angeles">
    </div>
    <div class="carousel-item">
      <img src="chicago.jpg" alt="Chicago">
    </div>
    <div class="carousel-item">
      <img src="ny.jpg" alt="New York">
    </div>
  </div>

  <!-- Left and right controls -->
  <a class="carousel-control-prev" href="#demo" data-slide="prev">
    <span class="carousel-control-prev-icon"></span>
  </a>
  <a class="carousel-control-next" href="#demo" data-slide="next">
    <span class="carousel-control-next-icon"></span>
  </a>

</div>
 


		
		
<script th:inline="javascript" type="text/javascript">
</script>

 
</body>
</html>