<!DOCTYPE html>
<html lang="fr" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head th:include="fragments/header :: header">
</head>
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
body, h1, h2, h3, h4, h5, h6 {
	font-family: "Raleway", Arial, Helvetica, sans-serif
}

.mySlides {
	display: none
}
</style>
<body class="w3-content w3-border-left w3-border-right">

	<!-- Sidebar/menu -->
	<nav class="w3-sidebar w3-light-grey w3-collapse w3-top" style="z-index: 3; width: 260px" id="mySidebar">
		<div class="w3-container w3-display-container w3-padding-16">
			<i onclick="w3_close()" class="fa fa-remove w3-hide-large w3-button w3-transparent w3-display-topright"></i>
			<h3>Rental</h3>
			<h3>from $99</h3>
			<h6>per night</h6>
			<hr>
			<form action="/action_page.php" target="_blank">
				<p>
					<label><i class="fa fa-calendar-check-o"></i> Check In</label>
				</p>
				<input class="w3-input w3-border" type="text" placeholder="DD MM YYYY" name="CheckIn" required>
				<p>
					<label><i class="fa fa-calendar-o"></i> Check Out</label>
				</p>
				<input class="w3-input w3-border" type="text" placeholder="DD MM YYYY" name="CheckOut" required>
				<p>
					<label><i class="fa fa-male"></i> Adults</label>
				</p>
				<input class="w3-input w3-border" type="number" value="1" name="Adults" min="1" max="6">
				<p>
					<label><i class="fa fa-child"></i> Kids</label>
				</p>
				<input class="w3-input w3-border" type="number" value="0" name="Kids" min="0" max="6">
				<p>
					<button class="w3-button w3-block w3-green w3-left-align" type="submit"><i class="fa fa-search w3-margin-right"></i> Search availability</button>
				</p>
			</form>
		</div>
		<div class="w3-bar-block">
			<a href="#apartment" class="w3-bar-item w3-button w3-padding-16"><i class="fa fa-building"></i> Apartment</a> <a href="javascript:void(0)" class="w3-bar-item w3-button w3-padding-16" onclick="document.getElementById('subscribe').style.display='block'"><i class="fa fa-rss"></i> Subscribe</a> <a href="#contact" class="w3-bar-item w3-button w3-padding-16"><i class="fa fa-envelope"></i> Contact</a>
		</div>
	</nav>

	<!-- Top menu on small screens -->
	<header class="w3-bar w3-top w3-hide-large w3-black w3-xlarge">
		<span class="w3-bar-item">Rental</span> <a href="javascript:void(0)" class="w3-right w3-bar-item w3-button" onclick="w3_open()"><i class="fa fa-bars"></i></a>
	</header>

	<!-- Overlay effect when opening sidebar on small screens -->
	<div class="w3-overlay w3-hide-large" onclick="w3_close()" style="cursor: pointer" title="close side menu" id="myOverlay"></div>

	<!-- !PAGE CONTENT! -->
	<div class="w3-main w3-white" style="margin-left: 260px">

		<!-- Push down content on small screens -->
		<div class="w3-hide-large" style="margin-top: 80px"></div>

		<!-- Slideshow Header -->
		<div class="w3-container" id="apartment">
			<div class="w3-display-container mySlides" th:each="image, status : ${firstActivity.images}">
				<img th:src="${image.path}" style="width: 100%; margin-bottom: -6px">
				<div class="w3-display-bottomleft w3-container w3-black">
					<p>TODO</p>
				</div>
			</div>
		</div>
		<div class="w3-row-padding w3-section">
			<div class="w3-col s3" th:each="image, status : ${firstActivity.images}">
				<img class="demo w3-opacity w3-hover-opacity-off" th:src="${image.url}" style="width: 100%; cursor: pointer" th:onclick="|currentDiv('${status.index}');|" title="Living room">
			</div>
		</div>

		<div class="w3-container">
			<h4><strong>Informations</strong></h4>
			<div class="w3-row w3-large">
				<div class="w3-col s6">
					<!-- category -->
					<p>
						<i class="fa fa-fw fa-info"></i> Category : <span th:text="${firstActivity.category}"></span>
					</p>
					<!-- capacity group -->
					<p>
						<i class="fa fa-fw fa-male"></i> Max people : <span th:text="${firstActivity.maxCapacityGroup}"></span>
					</p>
					<!-- minimum age -->
					<p>
						<i class="fa fa-fw fa-users"></i> Minimum age : <span th:text="${firstActivity.minimumAge}"></span>
					</p>
				</div>
				<div class="w3-col s6">
					<p>
						<i class="fa fa-fw fa-calendar"></i> Start date period : <span th:text="${firstActivity.beginDate}"></span>
					</p>
					<p>
						<i class="fa fa-fw fa-calendar"></i> End date period : <span th:text="${firstActivity.endDate}"></span>
					</p>
				</div>
			</div>
			<hr>

			<h4><strong>Description</strong></h4>
			<p><span th:text="${firstActivity.descriptionFre}"></span></p>
<!-- 			<p> -->
<!-- 				We accept: <i class="fa fa-credit-card w3-large"></i> <i class="fa fa-cc-mastercard w3-large"></i> <i class="fa fa-cc-amex w3-large"></i> <i class="fa fa-cc-cc-visa w3-large"></i><i class="fa fa-cc-paypal w3-large"></i> -->
<!-- 			</p> -->
			<hr>

			<h4><strong>Additional Informations</strong></h4>
			<p><span th:text="${firstActivity.additionalInfos}"></span></p>
<!-- 			<p> -->
<!-- 				<button class="w3-button w3-green w3-third" onclick="document.getElementById('subscribe').style.display='block'">Subscribe</button> -->
<!-- 			</p> -->
		</div>
		<hr>

		<!-- User informations -->
		<div class="w3-container" id="contact">
			<h2>Your contact informations</h2> 
			<!-- Adresse -->
			<i class="fa fa-map-marker" style="width: 30px"></i> <span th:text="${user.address}"></span><br>
			<!-- Phone --> 
			<i class="fa fa-phone" style="width: 30px"></i> <span th:text="${user.phone}"></span><br> 
			<!-- Mail -->
			<i class="fa fa-envelope" style="width: 30px"></i> <span th:text="${user.email}"></span><br>
			<!-- Website -->
			<i class="fa fa-globe" style="width: 30px"></i> <span th:text="${user.websiteAddress}"></span><br>
			
<!-- 			<p>Questions? Go ahead, ask them:</p> -->
<!-- 			<form action="/action_page.php" target="_blank"> -->
<!-- 				<p> -->
<!-- 					<input class="w3-input w3-border" type="text" placeholder="Name" required name="Name"> -->
<!-- 				</p> -->
<!-- 				<p> -->
<!-- 					<input class="w3-input w3-border" type="text" placeholder="Email" required name="Email"> -->
<!-- 				</p> -->
<!-- 				<p> -->
<!-- 					<input class="w3-input w3-border" type="text" placeholder="Message" required name="Message"> -->
<!-- 				</p> -->
<!-- 				<button type="submit" class="w3-button w3-green w3-third">Send a Message</button> -->
<!-- 			</form> -->
		</div>

		<footer class="w3-container w3-padding-16" style="margin-top: 32px"><a href="https://www.koedia.com" target="_blank" class="w3-hover-text-green">koedia.com</a></footer>

		<!-- End page content -->
	</div>

	<!-- Subscribe Modal -->
<!-- 	<div id="subscribe" class="w3-modal"> -->
<!-- 		<div class="w3-modal-content w3-animate-zoom w3-padding-large"> -->
<!-- 			<div class="w3-container w3-white w3-center"> -->
<!-- 				<i onclick="document.getElementById('subscribe').style.display='none'" class="fa fa-remove w3-button w3-xlarge w3-right w3-transparent"></i> -->
<!-- 				<h2 class="w3-wide">SUBSCRIBE</h2> -->
<!-- 				<p>Join our mailing list to receive updates on available dates and special offers.</p> -->
<!-- 				<p> -->
<!-- 					<input class="w3-input w3-border" type="text" placeholder="Enter e-mail"> -->
<!-- 				</p> -->
<!-- 				<button type="button" class="w3-button w3-padding-large w3-green w3-margin-bottom" onclick="document.getElementById('subscribe').style.display='none'">Subscribe</button> -->
<!-- 			</div> -->
<!-- 		</div> -->
<!-- 	</div> -->

	<script type="text/javascript">
		// Script to open and close sidebar when on tablets and phones
		function w3_open() {
			document.getElementById("mySidebar").style.display = "block";
			document.getElementById("myOverlay").style.display = "block";
		}

		function w3_close() {
			document.getElementById("mySidebar").style.display = "none";
			document.getElementById("myOverlay").style.display = "none";
		}

		// Slideshow Apartment Images
		var slideIndex = 0;
		showDivs(slideIndex);

		function plusDivs(n) {
			console.log(n);
			console.log(slideIndex);
			showDivs(slideIndex += n);
		}

		function currentDiv(n) {
			console.log(n);
			console.log(slideIndex);			
			showDivs(slideIndex = n);
		}

		function showDivs(n) {
			var i;
			var x = document.getElementsByClassName("mySlides");
			var dots = document.getElementsByClassName("demo");
			if (n > x.length) {
				slideIndex = 1
			}
			if (n < 1) {
				slideIndex = x.length
			}
			for (i = 0; i < x.length; i++) {
				x[i].style.display = "none";
			}
			for (i = 0; i < dots.length; i++) {
				dots[i].className = dots[i].className.replace(
						" w3-opacity-off", "");
			}
			x[slideIndex - 1].style.display = "block";
			dots[slideIndex - 1].className += " w3-opacity-off";
		}
	</script>

</body>
</html>