<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
	<link th:href="@{/css/bootstrap.min.css}" rel="stylesheet" />
   	<head th:include="fragments/header :: header">
<title>Page de résupération du mot de passe</title>
</head>
<body>

<div class="container">
	<div class="row">
		<div>
			<h1>Récupération mot de passe</h1>
		</div>
		
		<span th:text="${errorMessage}"></span>
		
			<div class="container">
				<form th:action="@{/account/send-link-password}" method="POST">
					<h3 class="form-signin-heading">Renseignez votre adresse email</h3>
					<br/>
					<input type="email" id="email" th:name="email" th:placeholder="Email" class="form-control" /> <br/> 
					<button class="btn btn-lg btn-primary btn-block" type="submit">Envoyer</button>
				</form>
			</div>
	</div>
</div>
</body>

</html>