<!DOCTYPE html>
<html lang="fr" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head th:include="fragments/header :: header">
</head>
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<script type="text/javascript" src="coin-slider.min.js"></script>
<link rel="stylesheet" href="coin-slider-styles.css" type="text/css" />
<style>
html,body,h1,h2,h3,h4,h5 {
font-family: "Raleway", sans-serif
}
</style>
<body>


  <div class="w3-container">
    <h5>Recents actions</h5>
    <div class="w3-row" th:each="activity, status : ${activitiesList}" style="margin-bottom: 40px;">
      <div class="w3-col m2 text-center">
        <img class="w3-circle" src="/w3images/avatar3.png" style="width:96px;height:96px">
      </div>
      <div class="w3-col m10 w3-container" th:if="${activity.creationDate}">
      	<h4> <span class="w3-opacity w3-medium"></span></h4>
        <h3><span th:text="${activity.Title}"></span></h3>
        <h4> <span class="w3-opacity w3-medium"></span></h4>
        Created at : <span th:text="${activity.creationDate}"></span><br>
        Last update at : <span th:text="${activity.creationDate}"></span><br>
      </div>
    </div>
  </div>


  <div class="w3-container">
    <h5>Recent Comments</h5>
    <div class="w3-row">
      <div class="w3-col m2 text-center">
        <img class="w3-circle" src="/w3images/avatar3.png" style="width:96px;height:96px">
      </div>
      <div class="w3-col m10 w3-container">
        <h4>PAX 1 <span class="w3-opacity w3-medium">Jul 10, 2018</span></h4>
        <p>Comment comment comment comment comment comment comment comment comment comment comment comment comment comment comment comment comment comment </p><br>
      </div>
    </div>

    <div class="w3-row">
      <div class="w3-col m2 text-center">
        <img class="w3-circle" src="/w3images/avatar1.png" style="width:96px;height:96px">
      </div>
      <div class="w3-col m10 w3-container">
        <h4>PAX 2 <span class="w3-opacity w3-medium">Jul 06, 2018</span></h4>
        <p>Test commentaire</p><br>
      </div>
    </div>
    
    <div class="w3-overlay w3-hide-large w3-animate-opacity" onclick="w3_close()" style="cursor:pointer" title="close side menu" id="myOverlay">
    	
    </div>
  </div>
  
          <a class="w3-left w3-btn" href="javascript:history.go(-1)">
        	Retour
        </a>
  
  </body>
  </html>