<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<link th:href="@{/css/bootstrap.min.css}" rel="stylesheet" />
   	<head th:include="fragments/header :: header">
<title>Page de changement du mot de passe</title>
</head>
<body>

	<div class="container">
		<div class="row">
			<div>
				<h1>Changement mot de passe</h1>
			</div>

			<div>
				TEST <span th:text="${emailUser}"></span> FIN TEST
			</div>

			<!-- PASSWORD -->
			<form th:action="@{/account/reset-password}" method="POST">
				<h3 class="form-signin-heading">Renseignez votre nouveau mot de passe</h3>
				<br /> <input type="text" id="newPassword" th:name="newPassword" class="form-control" /> <br />
				<button class="btn btn-lg btn-primary btn-block" type="submit">Confirmer</button>
			</form>
		</div>
	</div>
</body>

</html>