<!DOCTYPE html>
<html lang="fr" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head th:include="fragments/header :: header">
</head>


<body>
		
	<input id="stepNumber" type="hidden" th:value="${stepNumber}">
	<input id="validatedSteps" type="hidden" th:value="${validatedSteps}">

	<h1>
		<span th:text="#{activity_creation}"></span>
	</h1>
	
<!-- BEGIN Progression bar -->
	<div class="col-lg-3">
	
		<ul class="nav">
			<li class="nav-item step" onclick="showTabFromNavBar('0');">
				<div id="go-to-stepTitle">
					<span class="indication" th:text="#{title}"></span>
					<p>
						<span class="glyphicon glyphicon-ok"></span> 
					</p>
				</div>
			</li>
			<li class="nav-item step" onclick="showTabFromNavBar('1');">
				<div id="go-to-stepCategory">
					<span class="indication" th:text="#{category}"></span>
					<p>
						<span class="glyphicon glyphicon-ok"></span> 
					</p>
				</div>
			</li>
			<li class="nav-item step"  onclick="showTabFromNavBar('2');">
				<div id="go-to-stepDescription">
					<span class="indication" th:text="#{description}"></span>
					<p>
						<span class="glyphicon glyphicon-ok"></span> 
					</p>
				</div>
			</li>
			<li class="nav-item step"  onclick="showTabFromNavBar('3');">
				<div id="go-to-stepMeetingPoint">
					<span class="indication" th:text="#{meeting_point}"></span>
					<p>
						<span class="glyphicon glyphicon-ok"></span> 
					</p>
				</div>
			</li>
			<li class="nav-item step"  onclick="showTabFromNavBar('4');">
				<div id="go-to-stepSchedules">
					<span class="indication" th:text="#{schedule}"></span>
					<p>
						<span class="glyphicon glyphicon-ok"></span> 
					</p>
				</div>
			</li>
			<li class="nav-item step" onclick="showTabFromNavBar('5');">
				<div id="go-to-stepImages">
					<span class="indication" th:text="#{images}"></span>
					<p>
						<span class="glyphicon glyphicon-ok"></span> 
					</p>
				</div>
			</li>
			<li class="nav-item step" onclick="showTabFromNavBar('6');">
				<div id="go-to-stepParticipationCriterias">
					<span class="indication" th:text="#{participation_criterias}"></span>
					<p>
						<span class="glyphicon glyphicon-ok"></span> 
					</p>
				</div>
			</li>
			<li class="nav-item step" onclick="showTabFromNavBar('7');">
				<div id="go-to-stepDefaultPrice">
					<span class="indication" th:text="#{price}"></span>
					<p>
						<span class="glyphicon glyphicon-ok"></span> 
					</p>
				</div>
			</li>
			<li class="nav-item step" onclick="showTabFromNavBar('8');">
				<div id="go-to-stepPaxs">
					<span class="indication" th:text="#{pax_type}"></span>
					<p>
						<span class="glyphicon glyphicon-ok"></span> 
					</p>
				</div>
			</li>
			<li class="nav-item step" onclick="showTabFromNavBar('9');">
				<div id="go-to-stepCapacity">
					<span class="indication" th:text="#{group_capacity}"></span>
					<p>
						<span class="glyphicon glyphicon-ok"></span> 
					</p>
				</div>
			</li>
			<li class="nav-item step" onclick="showTabFromNavBar('10');">
				<div id="go-to-stepValidate">
					<span class="indication" th:text="#{validate_and_send}"></span>
				</div>
			</li>
		</ul>	
	
	</div>
<!-- END Progression bar -->
	
<!-- BEGIN Creation form -->
	<form th:id="form-activity-creation" th:action="@{/activity/create}" th:object="${activity}" method="POST" enctype="multipart/form-data" class="needs-validation" novalidate>
	
	<div class="col-lg-5">
	
<!-- Input setted with submitted input id -->
	<input th:id="stepToValidate" type="hidden" th:field="*{stepToValidate}">
	
	
<!-- STEP 1 : Title -->
		<div id="step-title" class="tab" data-isvalid="false">
<!-- Title and indications -->
			<span class="title" th:text="#{title_step_name}"></span>
			<span class="indication" th:text="#{title_step_indication}"></span>
<!-- Input -->
			<div th:class="${#fields.hasErrors('title') ? 'form-group has-error' : 'form-group'}">
				<input type="text" class="form-control form-input" th:field="*{title}" autocomplete="off" onclick="changeStepToValidate()"/>
			</div>
<!--  Error message bloc -->
			<div th:if="${#fields.hasErrors('title')}" class="alert alert-danger error-message-title" role="alert">
				<span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
				<span th:errors="*{title}"></span>
			</div>
			
		</div>
		
<!-- STEP 2 : Category -->
		<div id="step-category" class="tab" data-isvalid="false">
			<span class="title" th:text="#{category_step_name}"></span>
			<span class="indication" th:text="#{category_step_indication}"></span>
<!-- Input -->
			<div th:class="${#fields.hasErrors('category') ? 'form-group has-error' : 'form-group'}">
				<select class="form-control form-control-lg" th:field="*{category}" onclick="changeStepToValidate()">
					<option th:text="#{cat_info_message}" th:value="info" selected="selected"></option>
					<option th:value="#{cat_art}" th:text="#{cat_art}"></option>
					<option th:value="#{cat_sport}" th:text="#{cat_sport}"></option>
					<option th:value="#{cat_nature}" th:text="#{cat_nature}"></option>
					<option th:value="#{cat_food}" th:text="#{cat_food}"></option>
					<option th:value="#{cat_entertainment}" th:text="#{cat_entertainment}"></option>
					<option th:value="#{cat_nightlife}" th:text="#{cat_nightlife}"></option>
					<option th:value="#{cat_discovery}" th:text="#{cat_discovery}"></option>
				</select>
			</div>
<!--  Error message bloc -->
			<div th:if="${#fields.hasErrors('title')}" class="alert alert-danger error-message-title" role="alert">
				<span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
				<span th:errors="*{title}"></span>
			</div>
		</div>
		
<!-- STEP 3 : Description -->
		<div id="step-description" class="tab" data-isvalid="false">
			<span class="title" th:text="#{description_step_name}"></span>
			<span class="indication" th:text="#{description_step_indication}"></span>
			<!-- Select description language -->
			<select id="selectDescLang" class="form-control" onChange="toggleDescLang();">
				<option th:value="FR" th:text="#{lang_fr}"></option>
				<option th:value="EN" th:text="#{lang_en}"></option>
				<option th:value="ES" th:text="#{lang_es}"></option>
			</select>
<!-- Input -->
			<div id="blocDescFR" class="form-group">
				<textarea th:field="*{descriptionFre}" class="form-control" oninput="this.className = 'form-control'" th:placeholder="#{desc_indication}" rows="3" onclick="changeStepToValidate();"></textarea>
				<div th:if="${#fields.hasErrors('descriptionFre')}" class="alert alert-danger error-message-title" role="alert">
					<span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
					<span th:errors="*{descriptionFre}"></span>
				</div>
			</div>
			<div id="blocDescEN" class="form-group">
				<textarea th:field="*{descriptionEng}" class="form-control" oninput="this.className = 'form-control'" th:placeholder="#{desc_indication}" rows="3" onclick="changeStepToValidate();"></textarea>
				<div th:if="${#fields.hasErrors('descriptionEng')}" class="alert alert-danger error-message-title" role="alert">
					<span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
					<span th:errors="*{descriptionEng}"></span>
				</div>
			</div>
			<div id="blocDescES" class="form-group">
				<textarea th:field="*{descriptionEsp}" class="form-control" oninput="this.className = 'form-control'" th:placeholder="#{desc_indication}" rows="3" onclick="changeStepToValidate();"></textarea>
				<div th:if="${#fields.hasErrors('descriptionEsp')}" class="alert alert-danger error-message-title" role="alert">
					<span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
					<span th:errors="*{descriptionEsp}"></span>
				</div>
			</div>
		</div>
		
<!-- STEP 4 : MeetingPoint -->
		<input type="hidden" th:field="*{latitude}"></input>
		<input type="hidden" th:field="*{longitude}"></input>
		<input type="hidden" id="zoom" name="zoom"></input>
		
		<div class="tab" id="step-meetingPoint" data-isvalid="false">
			<span class="title" th:text="#{meetingpoint_step_name}"></span>
			<span class="indication" th:text="#{meetingpoint_step_indication}"></span>
<!-- Input -->
			<span th:text="#{meeting_point_name}"></span>
			<input type="text" class="form-control form-input" th:field="*{meetingPoint}" th:placeholder="#{meeting_point_name}" oninput="this.className = ''" onclick="changeStepToValidate();" autocomplete="off" />
			
			<span th:text="#{address}"></span>
			<input type="text" class="form-control form-input" th:field="*{address}" th:placeholder="#{address}" oninput="this.className = ''" onclick="changeDestinationCityWithId(this.id); changeStepToValidate();" autocomplete="off" />
			
			<span th:text="#{city}"></span>
			<input type="text" class="form-control form-input" th:field="*{city}" th:placeholder="#{city}" oninput="this.className = ''" onclick="changeDestinationCityWithId(this.id); changeStepToValidate();" autocomplete="off" />
			
			<span th:text="#{country}"></span>
			<input type="text" class="form-control form-input" th:field="*{country}" th:placeholder="#{country}" oninput="this.className = ''" onclick="changeStepToValidate();" autocomplete="off" />
			
			<span th:text="#{zip_code}"></span>				
			<input type="text" class="form-control form-input" th:field="*{zipCode}" th:placeholder="#{zip_code}" oninput="this.className = ''" onclick="changeStepToValidate();" autocomplete="off" />	
<!-- Google map -->			
			<div id="googleMap"></div>
		</div>
		
<!-- STEP 5 : Schedules -->
		<div class="tab" id="step-schedules" data-isvalid="false">
			<span class="title" th:text="#{schedules_step_name}"></span>
			<span class="indication" th:text="#{schedules_step_indication}"></span>
<!-- Period  -->
				<span th:text="#{start_date_period}"></span>
				<input type="text" class="form-control form-input datepicker" th:field="*{beginDate}" onchange="changeReturnDate(); onChangeDate(this); changeStepToValidate();" />
				<span th:text="#{end_date_period}"></span>
				<input type="text" class="form-control form-input datepicker" th:field="*{endDate}" onchange="onChangeDate(this); changeStepToValidate();" />
		</div>
		
<!-- STEP 6 : Images -->
		<div class="tab" id="step-images" data-isvalid="false">
			<span class="title" th:text="#{images_step_name}"></span>
			<span class="indication" th:text="#{images_step_indication}"></span>
		</div>
		
<!-- STEP 7 : participation criterias -->
		<div class="tab" id="step-participationCriterias" data-isvalid="false">
			<span class="title" th:text="#{criterias_step_name}"></span>
			<span class="indication" th:text="#{criterias_step_indication}"></span>
		</div>
		
<!-- STEP 8 : Default price -->
		<div class="tab" id="step-defaultPrice" data-isvalid="false">
			<span class="title" th:text="#{defaultprice_step_name}"></span>
			<span class="indication" th:text="#{defaultprice_step_indication}"></span>
		</div>
		
<!-- STEP 9 : Paxs -->
		<div class="tab" id="step-paxs" data-isvalid="false">
			<span class="title" th:text="#{paxs_step_name}"></span>
			<span class="indication" th:text="#{paxs_step_indication}"></span>
		</div>
		
<!-- STEP 10 : Capacity group -->
		<div class="tab" id="step-capacity" data-isvalid="false">
			<span class="title" th:text="#{capacitygroup_step_name}"></span>
			<span class="indication" th:text="#{capacitygroup_step_indication}"></span>
		</div>
		
		<!-- STEP 11 : Validation and submit -->
		<div class="tab" id="step-validate" data-isvalid="false">
			<span class="title" th:text="#{validateandsubmit_step_name}"></span>
		</div>
		
		<!-- Navigation and submit buttons -->
		<div class="btnStep">
			<div>
				<button type="button" id="modifyBtn" class="btn btn-lg btn-secondary" onclick="">Modifier</button>
				<button type="submit" id="validateBtn" class="btn btn-lg btn-primary" onclick="validateCurrentTab()">Valider</button>
			</div>
		</div>
		
	</div>
	
	</form>
	<!-- END Creation form -->
	
	<!-- BEGIN Informations bloc -->
	<div class="col-lg-5 pax-bloc">

	</div>
	<!-- END Informations bloc -->
</body>

<script type="text/javascript">

	jQuery('.datepicker').datepicker({
	    format: 'mm/dd/yyyy',
	    startDate: '-3d'
	});

	window.onload = function() {
		// Init desc per lang
		jQuery('#blocDescFR').show();
		jQuery('#blocDescEN').hide();
		jQuery('#blocDescES').hide();
		
		// Hide google map
		document.getElementById("googleMap").style.display = "none";
		
		// Init autocomplete
		autocomplete("#address");
		autocomplete("#city");
		
		// Notify tabs already validated
		displayValidatedTabs();
		
		// If validation already happened
		if (currentTab != jQuery("#stepNumber").val()) {
			currentTab = jQuery("#stepNumber").val();
			// notify navbar
			jQuery("#go-to-" + tabs[currentTab - 1].id).css("border", "solid 1px green");
			changeStepToValidate();
		}
		
		// Display the first step
		if (jQuery("#stepNumber").val() >= 0) {
			showTab(jQuery("#stepNumber").val());
		} else {
			showTab(0);
		}
	}
	
	function displayValidatedTabs() {
		for (var i = 0; i < jQuery("#validatedSteps").length; i++) {
			jQuery("#go-to-" + tabs[i].id).css("border", "solid 1px green");
		}
	}
	
	function changeStepToValidate() {
		// Indicate which is the current field to validate to the Spring controller 
		var stepToValidateId = tabs[currentTab].id;
		jQuery("#stepToValidate").val(stepToValidateId.substr(stepToValidateId.indexOf("-") + 1));
	}
	
	function validateCurrentTab() {
		// Hide the current tab
		tabs[currentTab].style.display = "none";
		// Increase or decrease the current tab by 1
		currentTab = parseInt(currentTab + 1);
	}
	
	function toggleDescLang() {
		var descLang = jQuery('#selectDescLang').val();
		if (descLang == 'FR') {
			jQuery('#blocDescFR').show();
			jQuery('#blocDescEN').hide();
			jQuery('#blocDescES').hide();
		} else if (descLang == 'EN') {
			jQuery('#blocDescEN').show();
			jQuery('#blocDescFR').hide();
			jQuery('#blocDescES').hide();
		} else if (descLang == 'ES') {
			jQuery('#blocDescES').show();
			jQuery('#blocDescEN').hide();
			jQuery('#blocDescFR').hide();
		} else {
			jQuery('#blocDescFr').show();
			jQuery('#blocDescEn').hide();
			jQuery('#blocDescEs').hide();
		}
	}
	
	function changeDestinationCityWithId(id){
		document.getElementById(id).value = "";
	}

	
</script>

</html>
