
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:include="fragments/header :: header">
</head>
<body>

<h1>Spring Boot - Upload Status</h1>

	<div th:if="${message}">
		<h2 th:text="${message}"/></h2>
	</div>

	<div>
		<form method="POST" enctype="multipart/form-data" action="/">
			<table>
				<tr><td>File to upload:</td><td><input type="file" name="file" /></td></tr>
				<tr><td></td><td><input type="submit" value="Upload" /></td></tr>
			</table>
		</form>
	</div>

	<div>
		<ul>
			<li th:each="file : ${files}">
				<a th:href="${file}" th:text="${file}"></a>
			</li>
		</ul>
	</div>

</body>
</html>

<!-- UTILS -->
// 	jQuery("#description").bind('input change keyup keydown paste', function() {
		
// 		var charsRequiredField = jQuery("#charsRequiredField");
// 		var charsRemainsMessage = 'caracteres restants';
// 		var charsRequiredMessage = 'caracteres requis';
		
// 	    if(this.value.length){
// 	    	if(this.value.length == 0) {
// 		    	jQuery("#charsCount").text(minNumCharsDescription);
// 	    	} else if(this.value.length < minNumCharsDescription) {
// 	    		charsRequiredField.text(charsRequiredMessage);
// 		    	jQuery("#charsCount").text(minNumCharsDescription - this.value.length);
// 	    	} else {
// 		    	jQuery("#charsCount").text(maxNumCharsDescription - this.value.length);
// 	    		charsRequiredField.text(charsRemainsMessage);
// 	    	}
// 	    }
	    
// 	});

// 		jQuery("#charsCount").text(minNumCharsDescription - jQuery("#descriptionFre").val().length);
// 		jQuery("#charsCount").text(minNumCharsDescription - jQuery("#descriptionEng").val().length);
// 		jQuery("#charsCount").text(minNumCharsDescription - jQuery("#descriptionEsp").val().length);